

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
    <a href="/" class="navbar-brand d-flex align-items-center">
        <img src="img/logo.png" alt="Logo" class="me-2" style="height: 60px;">
    </a>
    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <NavLink class="nav-item nav-link active" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
            <NavLink class="nav-item nav-link" href="animalpage">
                Animal Page
            </NavLink>
        </div>
    </div>
</nav>
<!-- Navbar End -->

@code {
   
}

